apiVersion: v1
kind: Service
metadata:
  name: {{.name}}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: {{.cert_id}}
spec:
  selector:
    app: {{.name}}
  ports:
    - port: {{.port}}
      targetPort: {{.targetPort}}
  type: LoadBalancer
  loadBalancerSourceRanges:
    - "10.1.0.0/16"